[DEFAULT]
hospital = kt_diajia,vgh
; kt_tongxia,kt_shalu,ccgh
cache_time  = 300

[DB]
host = localhost
port = 5432
usr = postgres
pwd = example
table = linbotdoctor

[REDIS]
host = localhost
port = 6379
pwd = pwd1234

[kt_diajia]
_id = 39
class_extend = KT
channel_secret = 
channel_access_token = 
redis_channel = 0

[vgh]
class_extend = 
channel_secret = 
channel_access_token = 
redis_channel = 1

; [ccgh]
; class_extend = CCGH
; channel_secret = 
; channel_access_token = 
; redis_channel = 1

; [kt_tongxia]
; channel_secret =
; channel_access_token = 
; redis_channel = 